[user]
  name = Vladimir Skok
  email = skok@vova.io

[pull]
  rebase = true

[github]
  user = iamskok

[core]
  editor = code --wait

[commit]
  template = ~/.gitmessage

[init]
  defaultBranch = main

[includeIf "gitdir:~/work"]
  path = ~/work/.gitconfig

